* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}
.container {
    margin: 0 auto;
    width: 940px;
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
}

li {
    font-size: 20px;
    font-family: sans-serif;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #768189;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
li a {
    display: block;
    color: gray;
    text-align: left;
    padding: 20px 0px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #000;
}
.active a {
    color: #000;
}
.header {
    position: sticky;
    top: 0;
    background-color: #fff;
}
.menu {
    border-bottom: 2px solid #828282;
}
.main-info__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.logo {
    overflow: hidden;
    background-color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: left;
}
.profession {
   font-size: 20px;
   font-family: sans-serif;
   margin-bottom: 20px;
   text-align: right;
}
.lang {
    width: 100px;
}
.main-info__img {
    margin-bottom: 70px;
}
.content {
    display: flex;
    width: 100%;
    height: 500px;
    padding-top: 40px;
    flex-direction: column;
    text-align: center;
    background: #F6F6F6;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.content h1 {
    font-size: 40px;
    margin-bottom: 45px;
}
.content p {
    margin-bottom: 50px;
}
.skills {
   display: flex;
   width: 100%;
   padding-top: 20px;
   flex-direction: column;
   text-align: center;
   background: #fff;
   align-items: center;
   margin-bottom: 70px;
}
.skills__items {
    display: flex;
    justify-content: space-between;
} 
.skills h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.skills h2 {
    font-size: 18px;
    margin-bottom: 55px;
}
.skill {
    width: 100px;
}
.skill__img {
    margin-top: 25px;
    margin-bottom: 15px;
}
.skill__title {
    font-size: 14px;
    color: #828282;
    margin-bottom: 50px;
}  
.portfolio {
    display: flex;
    width: 100%;
   flex-direction: column;
   text-align: center;
   align-items: center;
   background: #f6f6f6;
   margin-bottom: 15px;
}
.portfolio h1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 45px;
}
.portfolio__img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.portfolio__items a {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.contacts {
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    background: #fff;
    align-items: center;
    margin-bottom: 80px;
}
.contacts h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 75px;
}
.contacts p {
    font-size: 20px;
    margin-bottom: 40px;
}
.contacts__img {
    display: flex;
    justify-content: space-between;
    max-width: 170px;
    margin: 0 auto;
}

.hamburger-menu {
    display: none;
}
@media screen and (max-width: 820px) {
    .hamburger-menu {
        display: block;
}
    .menu {
        display: none;
        width: 100%;
}
    .logo {
        text-align: center;
}
    .profession {
        text-align: center;
}
    .container {
        display: block;
        float: none;
        width: 100%;
}
    .main-info__title {
        flex-direction: column;
        align-items: center;
}
    .contacts__img {
        margin-top: 40px;
        margin-bottom: 40px;
}
    .contact.container {
     display: flex;     
    }
@media screen and (max-width: 400px) {
    .hamburger-menu {
        display: block;
}
    .menu {
        display: none;
        width: 100%;
}   
    .container {
        display: block;
        float: none;
        width: 100%;
        flex-direction: column;
}
    .main-info__title {
        flex-direction: column;
        align-items: center;
}
    .skills__items {
        flex-direction: column;
        align-items: center;
}
    .contacts__img {
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 60px;
    }
}